{% extends 'base.html' %}
{% block title %}Contact Us {% endblock %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Get in Touch</h2>

  <h4 class="mt-5">Head Office</h4>
  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <h5 class="card-title">Vidya Vihar International School - Indra Bhavan</h5>
      <p><strong>Principal:</strong>Mr.Saladi Srikanth</p>
      <p><strong>Email:</strong>infovvikpt@gmail.com</p>
      <p><strong>Phone:</strong>+919420003012</p>
      <p><strong>Address:</strong>abc Knowledge Lane,Near H.P Petrol Bunk,Kothapeta,E.G,Andhra Pradesh-533223</p>
    </div>
  </div>

  <h4 class="mt-4">Other Branches</h4>

  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <h5 class="card-title">Vidya Vihar International School - Mayuri Bhavan</h5>
      <p><strong>Principal:</strong>Mr.Bose</p>
      <p><strong>Email:</strong>infovvichi@gmail.com</p>
      <p><strong>Phone:</strong>+918734878709</p>
      <p><strong>Address:</strong>Near Pushpa Hotel,Vinayaknagar,Chigurukota,Krishna Dist.,Andhra Pradesh - 500004</p>
    </div>
  </div>

  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <h5 class="card-title">Vidya Vihar International School - Gayatri Bhavan</h5>
      <p><strong>Principal:</strong>Mr.Krishna</p>
      <p><strong>Email:</strong>infovvielr@gmail.com</p>
      <p><strong>Phone:</strong>+919823984557</p>
      <p><strong>Address:</strong>Near S.R.Kalyana mandapam,Devarakota,Eluru,Krishna dist.,Andhra Pradesh - 502098</p>
    </div>
  </div>

  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <h5 class="card-title">Vidya Vihar International School - Lotus Bhavan</h5>
      <p><strong>Principal:</strong>Mr.Shankar</p>
      <p><strong>Email:</strong>infovvihyd@gmail.com</p>
      <p><strong>Phone:</strong>+919298333981</p>
      <p><strong>Address:</strong>Beside Infosys,Secunderabad,Hyderabad,Telangana-582345</p>
    </div>
  </div>

  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <h5 class="card-title">Vidya Vihar International School - Bhaskar Bhavan</h5>
      <p><strong>Principal:</strong>Mr.Gowtham</p>
      <p><strong>Email:</strong>infovvigtr@gmail.com</p>
      <p><strong>Phone:</strong>+91982222356</p>
      <p><strong>Address:</strong>Near Mysore Cafe,Rajendranagar,Guntur,Guntur dist.,Andhra Pradesh-542077</p>
    </div>
  </div>
</div>
{% endblock %}