{% extends 'base.html' %}
{% block title %}Parent Login {% endblock %}

{% block content %}
<style>
  .center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 400px;
  }
</style>

<div class="center-box">
  <div class="card shadow-lg p-4">
    <div class="text-center mb-3">
      <img src="{{url_for('static',filename='images/file_000000001cd861f7a1e4df418b91420b.png')}}" alt="Logo" width="60">
      <h3 class="mt-2">Parent Login</h3>
    </div>
    <form method="POST" action="{{url_for('login_parent')}}">
      <div class="mb-3">
        <input type="text" name="username" class="form-control" placeholder="Enter Username" required>
      </div>
      <div class="mb-3">
        <input type="password" name="password" class="form-control" placeholder="Enter Password(min.8 characters)" minlength="8" maxlength="12" required>
      </div>
      {% if msg %}
        <div class="alert alert-danger text-center">{{ msg }}</div>
      {% endif %}
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
    <div class="text-center mt-3">
      <a href="{{url_for('forgot_parent')}}" class="text-decoration-none">Forgot Password?</a><br>
      <a href="{{url_for('register_parent')}}" class="text-decoration-none">New User?Register Here</a>
    </div>
  </div>
</div>
{% endblock %}